.editor {
  width: 200px;
  height: 100px;
  position: absolute;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Параметры тени */
}

.textarea-bold {
  font-weight: bold;
}

.textarea-normal {
  font-weight: normal;
}

.textarea-light {
  font-weight: 100;
}

.btn-group button {
  margin-right: 4px;
}

.btn-group textarea {
  resize: none;
}